<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grid{
            display: flex;
            justify-content: space-between;
            

        }
        .gap{
            display: flex;
          gap: 10px;
          
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="grid">
        <div>
            <h2>Shaik Mohammed Roshan Zammeer Hussai</h2>
        </div>
        <div class="gap">
            <span><a href="/home">Home</a></span>
           <span><a href="/base.html">base</a></span><span><a href="/contact">contact</a></span><span><a href="/projects">project</a></span>
        </div>
    </div>
</body>
</html>